@model ShoppingCart_VM

<div class="cart-hover">
    <div class="select-items">
        <table>
            <tbody>
                    @foreach (ShoppingCartElement shoppingCartElement in Model.ShoppingCart.ShoppingCartElements)
                    {
                        @if (shoppingCartElement.Product != null)
                        {
                            <tr>
                            <td class="si-pic d-flex justify-content-center"><img width="80" src="ProductImages/@shoppingCartElement.Product.ProductCoverImage" alt="@shoppingCartElement.Product.ProductName"></td>
                                <td class="si-text">
                                    <div class="product-selected">
                                    <p style="font-size:x-large; color:#222831">@shoppingCartElement.Product.ProductName</p>
                                    <p>$@shoppingCartElement.Product.ProductPrice  <a style="color:#222831">x @shoppingCartElement.ShoppingCartElementAmount = </a>  $@shoppingCartElement.ShoppingCartElementPrice</p>
                                        <h6></h6>
                                    </div>
                                </td>
                                <td class="si-close">
                                    <i class="ti-close"></i>
                                </td>
                            </tr>
                        }
                        else if (shoppingCartElement.MenuCart != null)
                        {
                            <tr>
                            <td class="si-pic d-flex justify-content-center"><img width="80" src="MenuImages/@shoppingCartElement.MenuCart.Menu.MenuCoverImage" alt="@shoppingCartElement.MenuCart.Menu.MenuName"></td>
                                <td class="si-text">
                                    <div class="product-selected">
                                    <p style="font-size:x-large; color:#222831">@shoppingCartElement.MenuCart.Menu.MenuName</p>
                                        <div class="bg-secondary">
                                            @foreach (var menuCartElement in shoppingCartElement.MenuCart.MenuCartElements)
                                            {
                                            <p>@menuCartElement.Product.ProductName <a style="color:#222831"> x 1 </a></p>
                                            }
                                        </div>
                                    <p>$@shoppingCartElement.MenuCart.Menu.MenuPrice <a style="color:#222831"> x @shoppingCartElement.ShoppingCartElementAmount = </a>$@shoppingCartElement.ShoppingCartElementPrice</p>
                                        <h6></h6>
                                    </div>
                                </td>
                                <td class="si-close">
                                    <i class="ti-close"></i>
                                </td>
                            </tr>
                        }
                    }
            </tbody>
        </table>
    </div>
    <div class="select-total">
        <span style="font-size:large; color:#222831">total:</span>
        <h5 style="color:#222831">$@Model.ShoppingCart.ShoppingCartPrice</h5>
    </div>
    <div class="select-button d-flex justify-content-center">
        <a asp-controller="ShoppingCart" asp-action="ShoppingCartDetails" class="btn btn-warning w-75 " >VIEW CARD</a>
    </div>
</div>

                                    