@page
@model RegisterModel

<link rel="stylesheet" href="~/css/Register.css" asp-append-version="true" />


<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div class="container-fluid align-items-center justify-content-center res">
        <div class="col-md-4 registerSection ">
            <h1 style="text-align: center;">REGISTER</h1>
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div class="row">
                    <h2 style="text-align: center;">Create a new account.</h2>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-floating regsegment">
                        <input asp-for="Input.FirstName" autocomplete="firstname" aria-required="true" placeholder="First Name" />
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-floating regsegment">
                        <input asp-for="Input.LastName" autocomplete="lastname" aria-required="true" placeholder="Last Name" />
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                    <div class="form-floating regsegment">
                        <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="Email" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating regsegment">
                        <input asp-for="Input.Password" autocomplete="new-password" aria-required="true" placeholder="Password" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating regsegment">
                        <input asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true" placeholder="Confirim Password" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-floating regsegment">
                        <input asp-for="Input.Address" autocomplete="Address" aria-required="true" placeholder="Adress" />
                        <span asp-validation-for="Input.Address" class="text-danger"></span>
                    </div>
                    <button id="registerSubmit" type="submit" class="red">Register</button>
                </div>
            </form>
        </div>
        <div class="col-md-6 col-md-offset-2">
            @* <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
            if ((Model.ExternalLogins?.Count ?? 0) == 0)
            {
            <div>
            <p>
            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
            about setting up this ASP.NET application to support logging in via external services</a>.
            </p>
            </div>
            }
            else
            {
            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
            <div>
            <p>
            @foreach (var provider in Model.ExternalLogins!)
            {
            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
            }
            </p>
            </div>
            </form>
            }
            }
            </section>*@
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
