@using MVCFoodShop.Entities;
@model Profile_VM
<div id="myProfile">

    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="row">
        <div class="col-lg-4 pb-5 mt-5">
            <!-- Account Sidebar-->
            <div class="author-card pb-3">
                <div class="author-card-cover" style="background-image: url(https://i.hizliresim.com/j7rda16.jpg);">

                    <a class="btn btn-style-1 btn-white btn-sm" href="#" data-toggle="tooltip" title="" data-original-title="You currently have 290 Reward points to spend"><i class="bi bi-star-fill"></i></a>
                </div>
                <div class="author-card-profile">
                    <div class="author-card-avatar">
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Daniel Adams">
                    </div>
                    <div class="author-card-details">
                        <h5 class="author-card-name text-lg">@Model.FirstName @Model.LastName</h5><span class="author-card-position">@Model.CreationDate.ToShortDateString()</span>
                    </div>
                </div>
            </div>
            <div class="wizard">
                <nav class="list-group list-group-flush">
                    <a class="list-group-item" onclick="MyProfileFunc()">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <i class="fe-icon-heart mr-1 text-muted"></i>
                                <div class="d-inline-block font-weight-medium text-uppercase">Order List</div>
                            </div><span class="badge badge-secondary">3</span>
                        </div>
                    </a>
                    <a class="list-group-item btn btn-light" id="profileSettingId" onclick="ProfileSettingsFunc()">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <i class="fe-icon-shopping-bag mr-1 text-muted"></i>
                                <div class="d-inline-block font-weight-medium text-uppercase">Profile Settings</div>
                            </div><span class="badge badge-secondary">6</span>
                        </div>
                    </a>
                    <a class="list-group-item" onclick="ChangePasswordFunc()">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <i class="fe-icon-tag mr-1 text-muted"></i>
                                <div class="d-inline-block font-weight-medium text-uppercase">Change Password</div>
                            </div><span class="badge badge-secondary">4</span>
                        </div>
                    </a>
                    <a class="list-group-item" onclick="AddressesFunc()">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <i class="fe-icon-heart mr-1 text-muted"></i>
                                <div class="d-inline-block font-weight-medium text-uppercase">Addresses</div>
                            </div><span class="badge badge-secondary">3</span>
                        </div>
                    </a>

                </nav>
            </div>
        </div>
        <!-- Wishlist-->
        <div class="col-lg-8 pb-5 ">
            <div><h4 class="text-center">My Past Order</h4></div>
            @if (Model.ShoppingCarts.Count != 0)
            {
                int count = 0;
                @foreach (ShoppingCart shoppingCart in Model.ShoppingCarts)
                {
                    count++;
                    @*                    decimal netPrice = shoppingCart.ShoppingCartPrice + Convert.ToDecimal(2.99);*@
                    string orderElementList = "orderElementList" + count;


                    <div class="card text-light bg-secondary mb-3" style="max-width: 60rem;">
                        <div class="card-header">Your Order Dated > @shoppingCart.CreationDate </div>
                        <div class="card-body">
                            <h5 class="card-title">Was delivered<i class="bi bi-check-lg" style="color:darkblue"></i></h5>
                            <p class="card-text">Total Price: $@shoppingCart.ShoppingCartPrice + $2.99</p>
                            <div class="d-flex justify-content-end">
                                <a onclick="GetPastOrderElements(@shoppingCart.ID,@count)" class="btn btn-warning"><i class="bi bi-eye" ></i></a>
                            </div>
                        </div>
                    </div>
                    <div id="@orderElementList"></div>
                }
            }
        </div>
    </div>
</div>
<div id="profileSettings"></div>
<div id="changePassword"></div>
<div id="addresses"></div>

