@using MVCFoodShop.Entities;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        if (User.IsInRole("User"))
        {
            <li class="nav-item">
                <div class="container">
                    <div class="inner-header">
                        <ul class="nav-right">
                            <li class="cart-icon ">
                                <a class="nav-link text-light pt-3 " asp-controller="ShoppingCart" asp-action="ShoppingCartDetails">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <span id="shopppingCartProductCount">@ViewBag.ProductCount</span>
                                </a>
                                <div id="shoppingcart"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <nav class="navbar navbar-expand bg-transparent sticky-top px-4 py-0">
                    <div class="navbar-nav align-items-center ms-auto">
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle text-light" data-bs-toggle="dropdown">
                                <img class="rounded-circle me-lg-2" src="https://i.hizliresim.com/m20yfy8.png" alt="" style="width: 40px; height: 40px;">
                                <span class="d-none d-lg-inline-flex text-light">@ViewBag.UserName</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end border-1 rounded-0 rounded-bottom m-0" style="background-color:rgb(34, 40, 49)">
                                <a class="dropdown-item text-light" asp-action="MyProfile" asp-controller="Profile">My Profile</a>
                                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <button type="submit" class="nav-link btn btn-link text-light">Logout</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </nav>
            </li>
        }
        else
        {
            
            <nav class="navbar navbar-expand bg-transparent sticky-top px-4 py-0">
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                        <form class="form-inline d-flex" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <p class="text-white me-5 mt-3"><strong>@ViewBag.UserName</strong></p>
                            <button type="submit" class="btn btn-danger text-light">Logout</button>
                        </form>
                    </div>
                </div>
            </nav>
        }
    }
    else
    {

        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-danger text-light" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" style="font-size:16px"><b>Login</b></a>
        </li>


    }
</ul>
